<div class="container-fluid title1 " id="about">
    <div class="row">
        <div class="col-sm-12 text-center title-about">
            <h2> ABOUT US </h2>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-12 col-md-4 offset-md-1 paragraphe-about">
            <h3>Car Rental in Tunisia</h3>
            
            <p> <strong>El primero</strong> is a renowned broker in the car rental sector in Tunisia. We offer our customers quality service, unbeatable prices and a wide choice of vehicles.</p>
                    <p>We guarantee a service that targets zero incidents throughout the rental period.
                    </p>
                    
                    <p>We are convinced that car rental is not just going from point A to point B but having a unique experience.</p>
                    <a class="BTN1 " href="" > <img src="../../assets/images/contact.svg"width="15%" height="19%"> Contact us </a>

                </div>


                <div class="col-sm-12 col-md-4 offset-md-1 ">
                    <img src="../../assets/images/about.svg" width="100%" height="100%">
                </div>
            </div>
        </div>
       

   