
<div class="container-fluid " id="home">
    <div>
      <div class="row">
        <app-navbar></app-navbar>

    </div>
    </div>
    <div class="container-fluid home">
      <div class="row">
          <div class="col-sm-12 col-md-4 offset-md-1  paragraphe-home">
              <h3> LOOKING FOR A REWARD FOR YOUR LOYALTY? YOU ARE IN THE RIGHT PLACE. </h3>
              <p> <strong> El primero </strong> 
                  offers you loyalty points for every reservation made with your account.</p>
              <a class="BTN1" [routerLink]="['/login']" align="right"> <img src="../../assets/images/fleche.svg"width="5%" height="5%"> Reserve now
              </a>
          </div>
          <div class="col-sm-12  col-md-6  ">
              <img src="../../assets/images/imageHome (2).svg" class="image-home" width="80%" height="80%">
          </div>
      </div>
  </div>
  </div>
  <app-about></app-about>
  <app-service></app-service>
  <app-cars-card></app-cars-card>
<app-contact></app-contact>
<app-footer></app-footer>
  
  
  
