<div class="container-fluid title1" id="contact">
    <div class="row">
      <div class="col-sm-12 text-center title-contact">
        <h2>Contact US</h2>
        <h5>any question or marks ? just write us a message !</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-12 col-md-4 Contact-info">
        <h3>Contact information</h3>
        <h6>Fill up the form and our Team will get back to you within 24 hours .</h6>
        <p>
          <img width="4%" height="4%" src="../../assets/images/icon-phone.svg" />
          55799937 .
        </p>
        <p>
          <img width="4%" height="4%" src="../../assets/images/icon-email.svg" />
          elprimero@elprimero.com .
        </p>
        <p>
          <img
            width="4%"
            height="4%"
            src="../../assets/images/icon-location.svg"
          />
          Monastir .
        </p>
  
        <div class="row">
          <div class="col-sm-12 box">
            <span><img src="../../assets/images/facebook.svg" /> </span>
            <span> <img src="../../assets/images/instagram.svg" /> </span>
            <span> <img src="../../assets/images/twitter.svg" /> </span>
            <span> <img src="../../assets/images/linkedin.svg" /> </span>
          </div>
        </div>
      </div>
  
      <div class="col-sm-12 col-md-6 ">
          <form>
              <div class="row">
                <div class=" col-sm-12 col-md-6 ">
                  <label >First Name</label>
                  <input type="text" class="form-control" placeholder="enter your first name please" >
                </div>
                <div class=" col-sm-12 col-md-6 ">
                  <label >Last Name</label>
                  <input type="text" class="form-control"placeholder="enter your last name please" >
              </div>
          </div>
          <div class="row">
              <div class=" col-sm-12 col-md-6 ">
                <label >phone</label>
                <input type="text" class="form-control" placeholder="enter your phone please" >
              
              
              </div>
              <div class=" col-sm-12 col-md-6 ">
                <label >Email</label>
                <input type="email" class="form-control" placeholder="enter your email please">
            </div>
        </div>
        <div class=" col-sm-12 ">
          <label >Message:</label>
          <input type="text" class="form-control text-right" placeholder="write your message" >
      </div>
      <input type="submit" value="send Message" class="BTN ">
           
              
             
            </form>
      </div>
    </div>
  </div>
  