<div class="container-fluid title1 " id="service">
    <div class="row">
        <div class="col-sm-12 text-center title-service">
            <h3> Our car rental <strong>Service</strong><br>
                makes the difference in Tunisia</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3 ">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" width="150px" height="150px" src="../../assets/images/conseil.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">An advisor at your disposal</h5>
            </div> </div>
          </div>
        <div class="col-sm-12 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" width="150px" height="150px" src="../../assets/images/livraisonn.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Free delivery
                at the airport</h5>
            </div>
          </div></div>
        <div class="col-sm-12 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" width="150px" height="150px" src="../../assets/images/reservation.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Book all
                moment</h5>
            </div>
          </div></div>
        <div class="col-sm-12 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" width="150px" height="150px" src="../../assets/images/pay.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Best rental price</h5>
            </div>
          </div></div>
        </div>
        </div>
