<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
    <a class="navbar-brand  " href="#"> <img src="../../assets/images/rent car.png" height="40%" width="60%"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class=" navbar-nav ml-md-auto ml-sm-0  ">
           
            <li class="nav-item">
                <a class="nav-link" >About US </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Our Services </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">our car rental agencies</a>
                                    </li>
            <li class="nav-item">
                 <a class="nav-link" style="color: rgb(22, 65, 48);
                                        " [routerLink]="['/login']">Login</a>
            </li>
        </ul>
        </div>
</nav>